<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.insigma.mvc.dao.sysmanager.login.SysLoginMapper">
    <select id="getUserAndGroupInfo" parameterType="String" resultType="SysUser" >
          select 
	       a.userid,
	       a.username,
	       a.password,
	       a.cnname,
	       a.enabled,
	       c.groupid,
	       c.groupname,
	       c.parentid groupparentid,
	       c.grouptype,
	       c.groupid aab301,
	       c.groupname aab301name
     from sys_user a,sys_usergroupref b,sys_group c  
     where 
	     a.userid=b.userid 
	     and b.groupid=c.groupid
	     and a.username=#{username}
	</select>
	
	<!-- getGroupInfo mysql  -->
	<select id="getGroupAreaInfo" parameterType="String" resultType="SysGroup">
         select groupid,parentid,groupname,grouptype from sys_group  where groupid=#{groupid}
	</select>
	
	<!-- 个人用户角色查询  -->
	<select id="findRolesStr" parameterType="String" resultType="SysRole">
		select b.rolecode from sys_user a,sys_role b ,sys_user_role c where a.username=#{username}  and a.userid=c.userid and b.roleid=c.roleid  and b.rolecode is not null
	</select>
	
	
	<!-- 个人用户权限查询  -->
	<select id="findPermissionStr" parameterType="String" resultType="SysPermission">
		select * from (
        select distinct d.url, d.permtype, d.iconcss iconcss , d.permissionid,d.parentid, d.permname,d.sortnum,d.isblanktarget 
       from sys_user a,sys_role b ,sys_user_role c,sys_permission d ,sys_role_permission e 
        where a.username=#{username}
        and a.userid=c.userid 
        and b.roleid=c.roleid  and b.roleid=e.roleid 
        and d.permissionid=e.permissionid  and d.permcode is not null and d.parentid is not null and d.enabled='1'
        union 
        select distinct c.url, c.permtype, c.iconcss iconcss, c.permissionid, c.parentid, c.permname,c.sortnum,c.isblanktarget 
         from sys_user a, sys_user_permission b, sys_permission  c 
        where a.username =#{username}
         and a.userid = b.userid and c.permissionid=b.permissionid and c.permcode is not null and c.parentid is not null and c.enabled='1' 
         union
       select distinct d.url, d.permtype, d.iconcss iconcss , d.permissionid,d.parentid, d.permname,d.sortnum,d.isblanktarget 
       from sys_permission d where  url is not null and  d.permcode is not null and d.enabled='1'  and exists (select 1 from sys_user a,sys_user_role b,sys_role c where a.userid=b.userid and b.roleid=c.roleid and a.username=#{username} and  c.rolename='admin')
       )  aa 
       order by sortnum 
	</select>
	
	<!-- 保存 -->
	<insert id="saveLoginHashInfo"  parameterType="SysLoginInf">
		insert into SYS_LOGININF(loginhash,logintime,ip,usergent,sessionid)
		values (#{loginhash},#{logintime,jdbcType=TIMESTAMP},#{ip},#{usergent},#{sessionid})
	</insert>
	
	<!-- 检验登录权限 -->
	<select id="findLoginInfoByhashcode" parameterType="String" resultType="SysLoginInf">
		select * from SYS_LOGININF where loginhash=#{loginhash} 
	</select>
</mapper>